*{
    margin: 0px;
    padding: 0px;
}
body{
    background-color: cadetblue;
}
.parent{
    display: flex;
    margin: 40px;
    column-gap: 100px;
}
img{
    width: 93%;
    height: 350px;
    margin: 40px;
}
@media screen and (max-width: 420px) {
    .parent{
        flex-wrap: wrap;
        row-gap: 40px;
        font-size: 25px;
    }
  }